<h1>Reset User or Admin Password</h1>
<body>
	<div class="form-group">
	  <label for="userName">Username:</label>
	  <input type="text" class="form-control" id="userName">
	</div>
	<div class="form-group">
	  <label for="email">Email:</label>
	  <input type="email" class="form-control" id="email">
	</div>
	<div class="form-group">
	  <label for="newPassword">New Password:</label>
	  <input type="text" class="form-control" id="npwd">
	<button type="button" class="btn btn-danger">Reset Password</button>
</body>
